<div class="body">
	<div class="posts">
	  <div class="container">
	  	<% @posts.each do |pst| %> 
				<div class="post"> 
		  			<p class="content"><%= pst.content %></p> 
		  			<p class="time"><%= pst.created_at %></p> 
		  			<%= link_to 'See Comments', post_path(pst) %> 
				</div> 
			<% end %>
			<%= link_to 'New Post', "posts/new" %>
	  </div>
	</div>
</div>