<div class="body">
	<div class="posts">
	  <div class="container">
			<div class="post"> 
	  			<p class="content"><%= @post.content %></p> 
	  			<p class="time"><%= @post.created_at %></p> 
			</div> 
	  </div>
	</div>
</div>