<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <title>Bears Who Care</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<body>
  <div>
    <ul>
      <li><a class="active" href="#home">BWC</a></li>
      <li><a href="#news">Resources</a></li>
      <li class="dropdown">
        <button class="dropbtn">Options</button>
          <div class="dropdown-content">
            <a href="#">Profile</a>
            <a href="#">Account Settings</a>
            <a href="#">FAQ</a>
            <a href="#">Log Out</a>
          </div>
      </li>
    </ul>
  </div>
</body>
